@import "tailwindcss";

/* Cores principais da Colo de Mãe */
:root {
  --color-primary: #3b82f6;
  /* azul claro */
  --color-primary-dark: #1e40af;
  /* azul marinho */
  --color-primary-light: #93c5fd;
  /* azul água do mar */
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-accent: #fcd34d;
  /* exemplo de cor de destaque/amarelo */
}

/* Reset básico e tipografia */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

div {
  padding: .2rem;
}

h1 {
  padding-top: 2rem;
}

h2, p {
  padding-left: .5rem;
  padding-top: .2rem;
}

button {
  cursor: pointer;
  margin: 1rem;
}
